*{margin: 0;padding:0}
/*  导航栏  */
@media (min-width:1199px){
    .m-53{
        margin:0 53px !important;
    }
}
@media (min-width:768px){
    .m-53{
        margin:0 32px;
    }
}
.l-h-80{
    line-height:80px;
}
.head_a{
    width: 100%;
    height: 80px;
    box-shadow: 0 3px 3px 0 #CCC;
    background: #FFF;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    overflow: hidden;
    transition: 0.3s;
}
.nav .nav-logo{height: 100%; position: absolute; top: 0; left: 15px; line-height: 80px;}
.nav-item{margin-left: 30px;}

.navbar-nav{font-size: 18px;}
@media (max-width: 768px) {
    .head_a {
        height: auto !important;
        padding-top: 15px !important;
        padding-bottom:15px !important;
    }
}
@media screen and (min-width: 768px){
    .container {min-width: 740px; }

}

.nav-link{
    color:#333;
    margin-top:-2px;
    border-bottom: 2px solid transparent;
    padding:0px !important;
    font-size: 18px;
}
.nav-link:hover{
    color:#4aca6d !important;
    margin-top:-2px;
    border-bottom:2px solid #4aca6d;
}

/* 双态按钮标记  */
.aa .act-a{
    color:#4aca6d !important;
    margin-top:-2px;
    border-bottom:2px solid #4aca6d;
}

/*  banner部分  */
.back-img{height: 320px; margin-top: 80px;}
.back-img{background: url(../ccpt_6/res/static/img/nav_img1.jpg) no-repeat center top;background-size: cover;}
.back-img .title .pd{
    font-size: 20px;
    letter-spacing: 3px;
}
.back-img .title p{
    color: #606060;
    font-size: 36px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    margin: 0px;
}

.title.aav{
    padding-top:120px;
    opacity: 1;
}
.title{
    padding-top: 180px;
    transition: 1.5s;
    opacity: 0;
}
/*  main部分  */
.main{padding: 30px 0 75px 0;}
.padbor{
    padding: 50px 0;
    border-bottom: 1px solid #e8e8e8;
}
.padbor img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    
}
.padbor .label{
    color:#565656;
    font-size:30px;
    line-height:78px;
    margin-top:25px;
    margin-bottom: 0px;
}
.padbor .detali{
    font-size: 16px;
    line-height: 28px;
    color: #d7d7d7;
    padding-bottom: 30px;
    margin: 0px;
}
.padbor a{
    color: #a0d2cc;
    font-size: 16px;
    line-height: 38px;
    padding: 10px 11px 10px 23px;
    border: 1px solid #a0d2cc;
    border-radius: 3px;
    text-decoration: none;
}

.padbor:after, .padbor:before {
        content: '';
        display: block;
        clear: both;
    }

@media (min-width:768px) {
    .padbor img{text-align: left;}
    .col-md-7{width:50%;}
}
@media (max-width: 992px) and (min-width: 768px) {
 .padbor .label{
    line-height: 40px !important;
    margin:0px 0px 10px !important;
    }
 .padbor .detali{padding-bottom: 15px;}   
}
/*  底部  */
footer{width:100%;height:100%;background: #5e6664;padding-bottom:70px;}
#foot_a {
    padding-top: 50px;
    padding-bottom: 63px;
    margin: 0px;
}
#foot_a a:hover{text-decoration: none;color:#fff;}
#foot_a a{color:#a5aaa9;font-size: 14px;margin-right:20px;}
.foot_dh{padding:20px 0px 0px;}
.font_style{font-style:normal;color:#fff;font-size: 14px;}


@media screen and (min-width: 1300px) {
    .container {
        width: 1200px;
        padding: 0;
    }
}
.container{
    position: relative;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}